<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Your Store</title>

<link href="../../stylesheet/stylesheet.css" rel="stylesheet"
	type="text/css" />
<!--<link href="javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" /> -->
</head>


<body>
	<div id="container">
		<div id="header">
			<div id="logo">
				<a href="/home.html"><img
					src="../../../../../image/data/logo.png" width="268" height="50"
					alt="Your Store" /> </a>
			</div>
			<div id="currency"></div>
			<div id="cart">
				<div class="heading">
					<h4>Shopping Cart</h4>
					<a> <span id="cart_total">0 item(s) - £0.00 </span> </a>
					<div class="content">
						<div class="empty">Your shopping cart is empty!</div>
					</div>
				</div>
			</div>

			<div id="search">
				<div class="button-search"></div>
				<input type="text" onkeydown="this.style.color = '#000000';"
					onclick="this.value = '';" value="Search" name="filter_name">
			</div>

			<div id="welcome">
				You are logged in as <a href="">charith</a> <b>(</b><a href="">Logout</a><b>)</b>
			</div>

			<div class="links">
				<a href="http://localhost/opencart/index.php?route=common/home">Home
				</a> <a id="wishlist_total"
					href="http://localhost/opencart/index.php?route=account/wishlist">Wish
					List (0) </a> <a
					href="http://localhost/opencart/index.php?route=account/account">My
					Account </a> <a
					href="http://localhost/opencart/index.php?route=checkout/cart">Shopping
					Cart </a> <a
					href="http://localhost/opencart/index.php?route=checkout/checkout">Checkout
				</a>
			</div>
		</div>
		<div id="menu">
			<ul>
				<li><a href="">Desktops </a>
				</li>
				<li><a href="">Desktops </a>
				</li>
				<li><a href="">Desktops </a>
				</li>
				<li><a href="">Desktops </a>
				</li>
			</ul>
		</div>
		<div id="notification"></div>
		<div id="column-left">
			<div class="box">
				<div class="box-heading">Categories</div>
				<div class="box-content">
					<div class="box-category">
						<ul>
							<li><a
								href="http://localhost/opencart/index.php?route=product/category&path=20">Desktops
									(13)</a>
								<ul>
									<li><a
										href="http://localhost/opencart/index.php?route=product/category&path=20_26">
											- PC (0)</a></li>
									<li><a
										href="http://localhost/opencart/index.php?route=product/category&path=20_27">
											- Mac (1)</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		
		<div id="content">
			<div class="breadcrumb">
				<a href="http://localhost/opencart/index.php?route=common/home">Home</a>
				» <a
					href="http://localhost/opencart/index.php?route=product/product&amp;product_id=41">iMac</a>
			</div>
			<h1>iMac</h1>
			<div class="product-info">
				<div class="left">
					<div class="image">
						<a class="fancybox" rel="fancybox" title="iMac"
							href="http://localhost/opencart/image/cache/data/imac_1-500x500.jpg">
							<img id="image" alt="iMac" title="iMac"
							src="http://localhost/opencart/image/cache/data/imac_1-228x228.jpg">
						</a>
					</div>
					<div class="image-additional">
						<a class="fancybox" rel="fancybox" title="iMac"
							href="http://localhost/opencart/image/cache/data/imac_3-500x500.jpg">
							<img alt="iMac" title="iMac"
							src="http://localhost/opencart/image/cache/data/imac_3-74x74.jpg">
						</a> <a class="fancybox" rel="fancybox" title="iMac"
							href="http://localhost/opencart/image/cache/data/imac_2-500x500.jpg">
							<img alt="iMac" title="iMac"
							src="http://localhost/opencart/image/cache/data/imac_2-74x74.jpg">
						</a>
					</div>
				</div>
				<div class="right"></div>
			</div>
			<div id="tabs" class="htabs">
            	<a class="selected" href="#tab-description" style="display: inline;">Description</a>
                <a href="#tab-review" style="display: inline;">Reviews (0)</a>
                <a href="#tab-related" style="display: inline;">Related Products (1)</a>
            </div>
			<div id="tab-description" class="tab-content" style="display: block;">
            	<div> Just when you thought iMac had everything, now there’s even more. More powerful Intel Core 2 Duo processors. And more memory standard. Combine this with Mac OS X Leopard and iLife ’08, and it’s more all-in-one than ever. iMac packs amazing performance into a stunningly slim space..</div>
			</div>
			<div id="tab-review" class="tab-content" style="display: none;">
			</div>
			<div id="tab-related" class="tab-content" style="display: none;">
			</div>
		</div>
	</div>



	</div>
</body>

</html>
